@charset "UTF-8";

*{
    font-family: Cormorant Infant;
}

section{
    position: relative;
    width: 100%;
    height: 800px;
    font-size: 5em;
    font-weight: 700;
}

h1{
    padding-top: 10px;
    text-align: center;
    color: #000000;
    font-size: 70px;
}

h2{
    text-align: center;
    color: #000000;
    font-size: 70px;
}
img{
    margin: auto;
    display: flex;
    max-width: 100%;
    height: auto;
}

h5{ 
    text-align: center;
    color: #000000;
    font-size: 70px;
}

p{
    text-align: center;
    color: black; 
    font-size: 30px;
}
 
